body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 10px;
  background: url('images/stars3.jpeg');
  background-attachment: fixed;
  font-size: 14px;
  background-color: black;
}
h1, h2 {
  font-family: "Segoe UI", Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: white;
}
.filters{
  border: solid 2px white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  background: linear-gradient(89deg,rgba(0, 8, 43, 1) 31%, rgba(27, 51, 122, 1) 59%, rgba(131, 27, 166, 1) 100%);
  transition: transform 0.2s;
}
.filters:hover {
  transform: scale(1.01);
}
label{
  font-size:16px;
}
select, input{
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #957e7e;
  border-radius: 10px;
  background-color: white;
}
#statusText{
  font-style: italic;
  opacity: 0.7;
  color: white;
  margin: 10px;
}
#launchList{
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 25px;
}
.launches-card{
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 30%;
  color: white;
  background: linear-gradient(0deg,rgba(27, 51, 122, 1) 34%, rgba(46, 54, 99, 1) 62%, rgba(58, 47, 64, 1) 88%);
  transition: transform 0.2s; 
}
.launches-card:hover {
  transform: scale(1.01);
}
.card-section{
  padding: 8px;
  margin: 0px;
  border-top: solid 1px rgba(128, 128, 128, 0.466);
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.section-header {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #9ca3af;

}
.card-header-section{
  padding: 8px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2,p{
  margin: 0px;
  color: white;
}
.titlediv{
  display: flex;
  flex-direction: column;
  padding: 0%;
  gap: 0px;
  margin: 0;
}

/* --- outcom epill styles --- */
.outcome-pill {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 999px;
  border: 1px solid #4b5563;
  color: #4b5563;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  align-self: center;
}
.details-bubble{
  border: 1px solid #4b5563;
  color: #4b5563;
  border-radius: 10px;
  margin: 5px;
  padding: 4px 8px;
}
.success-bubble {
  background-color: rgba(16, 185, 129, 0.1);
  border-color: #10b981;
  color: #6ee7b7;
}

.fail-bubble {
  background-color: rgba(239, 68, 68, 0.1);
  border-color: #ef4444;
  color: #fecaca;
}

.outcome-upcoming {
  background-color: rgba(234, 179, 8, 0.1);
  border-color: #eab308;
  color: #facc15;
}

img {
  margin-top: 6px;
  width: 80%;
  max-height: 150px;
  border-radius: 6px;
  border: 1px solid #4b5563;
  margin-left: 10%;
}
